<%- include('../layouts/header.ejs') -%>
    <%if(typeof message !=='undefined' ){%>
        <h3>
            <%=message%>
        </h3>
        <%}%>
            <%- include('../layouts/footer.ejs') -%>