<%- include('../layouts/header.ejs') -%>
    <div class="container">
        <div class="drop">
            <div class="content">
                <h3>Reset Password</h3>
                <form action="" method="post">
                    <div class="inputBox">
                        <input type="password" name="password" required placeholder="Enter password">
                    </div>
                    <div class="inputBox">
                        <input type="hidden" name="user_id" value="<%= user_id%>">
                    </div>
                    <div class="inputBox">
                        <input type="submit" value="Reset">
                    </div>
                </form>
            </div>
        </div>
    </div>


    <%- include('../layouts/footer.ejs') -%>